/*.featureCard {*/
/*    background: white;*/
/*    border-radius: 8px;*/
/*    padding: 2rem;*/
/*    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);*/
/*    transition: transform 0.3s;*/
/*    text-align: center;*/
/*    margin: 1rem;*/
/*    flex: 1;*/
/*    min-width: 250px;*/
/*}*/

/*.featureCard:hover {*/
/*    transform: translateY(-5px);*/
/*}*/

.featureCard {
    background: white;
    border-radius: 12px;
    padding: 2rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    position: relative;
    z-index: 1; /* Základní vrstva */
    will-change: transform; /* Optimalizace animace */
}

.featureCard:hover {
    transform: scale(1.10) translateY(-5px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    z-index: 10; /* Přesune kartu nad ostatní při hoveru */
}

.icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin: 0 auto 1rem;
    color: white;
}
