.hero {
    /*background: url('/images/TailTracker_Dalmatian.png') center center / cover no-repeat;*/
    background: url('/images/TailTracker_BorderCollie.png') center top / cover no-repeat;
    position: relative;
    /*padding: 4rem 2rem;*/
    height: 93vh;
    color: white;
    overflow: hidden;
}

/*.hero::before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 0; left: 0; right: 0; bottom: 0;*/
/*    background: rgba(0, 0, 0, 0.5);*/
/*    z-index: 1;*/
/*}*/

/*.container {*/
/*    height: 93vh;*/
/*    width: 50%;*/
/*    background: rgba(0, 0, 0, 0.5);*/
/*    !*margin: 7rem 0 0 10rem;*!*/
/*    position: relative;*/
/*    z-index: 2;*/
/*    max-width: 400px;*/
/*}*/

.container {
    width: 35vw;
    height: 93vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;     /* vertikální zarovnání */
    justify-content: center; /* horizontální zarovnání */
    z-index: 2;
    position: relative;
    padding: 0 2rem;

}

.heroText {
    display: flex;
    align-items: center;     /* vertikální zarovnání */
    flex-direction: column;
    /*gap: 3.0rem;*/
}

.heroText img {
    width: 300px;
    height: auto;
    padding-bottom: 3.0rem;
}

/*.heroText h1 {*/
/*    font-size: 3rem;*/
/*    color: #333;*/
/*    margin-bottom: 0.5rem;*/
/*}*/

.motto {
    font-size: 1.7rem;
    color: #FF6B00;
    font-style: italic;
}

.infoText {
    font-size: 1.4rem;
}

/*.heroText h2 {*/
/*    font-size: 2rem;*/
/*    color: #4CAF50;*/
/*    margin: 1rem 0;*/
/*}*/

/*.ctaButton {*/
/*    margin-top: 15px;*/
/*    background: #FF6B00;*/
/*    color: white;*/
/*    border: none;*/
/*    padding: 0.8rem 2rem;*/
/*    font-size: 1rem;*/
/*    border-radius: 4px;*/
/*    cursor: pointer;*/
/*    transition: transform 0.2s;*/
/*}*/

/*.ctaButton:hover {*/
/*    transform: translateY(-2px);*/
/*}*/

.scrollArrow {
    position: absolute;
    bottom: 30px;
    left: 50%;
    background: rgba(255, 255, 255, 0.5);
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 2rem;
    color: #FF6B00;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: bounce 2s infinite;
    z-index: 10;
}

.scrollArrow:hover {
    background: rgba(255, 255, 255, 0.8);
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0) translateX(-50%);
    }
    40% {
        transform: translateY(-10px) translateX(-50%);
    }
    60% {
        transform: translateY(-5px) translateX(-50%);
    }
}