
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #ffcc00;
    color: #000;
    height: 7vh;
}

.text {
    text-align: center;
    margin-right: 10px;
}

.notifyButton {
    background-color: orange;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    color: white;
}
